@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

    font-family: "Roboto", sans-serif;
}

body {
    background-color: #181818;
}

.header {
    height: 9vh;
    width: 100vw;
    background-color: #252525;

    display: flex;
    justify-content: space-between;

    position: fixed;

    svg {
        height: 26px;
    }

    .logoAndMenu {
        width: 17.6%;
        height: 100%;

        display: flex;
        align-items: center;

        background-color: #202020;

        svg {
            margin-left: 23px;
        }

        img {
            height: 70px;
            object-fit: cover;

            margin-left: 15px;
        }
    }
    .search {
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        input[type="text"] {
            width: 89%;
            height: 33px;
            padding: 0 10px;
            color: #888888;
            border-radius: 2px 0 0 2px;
            border: 1px solid rgba(80, 80, 80, 0.3);
            background-color: #121212;
            font-size: 1rem;
            outline: none;

            &:focus {
                border: 1px solid #1c62b9;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
            }
        }

        button {
            width: 11%;
            height: 33px;

            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            border-radius: 0px 2px 2px 0;
            color: #888888;

            cursor: pointer;
            background-color: #3d3d3d;

            svg {
                height: 19px;
                opacity: 0.6;
            }
        }
    }

    .userOptions {
        width: 15%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.section {
    width: 100vw;
    height: 100vh;

    background-color: #181818;
}
