@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #181818;
}

.header {
  height: 9vh;
  width: 100%;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logoAndMenu {
  width: 17.6%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
}

.header .logoAndMenu svg {
  margin-left: 23px;
  cursor: pointer;
}

.header .search {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search input[type="text"] {
  width: 89%;
  height: 30px;
  padding: 0 10px;
  color: white;
  border-radius: 2px 0 0 2px;
  border: 1px solid #303030;
  background-color: #121212;
  font-size: 1rem;
  outline: none;
}

.header .search input[type="text"]:focus {
  border: 1px solid #1c62b9;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

.header .search button {
  width: 11%;
  height: 30px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0px 2px 2px 0;
  color: #666666;
  cursor: pointer;
  background-color: #3d3d3d;
}

.header .search button:hover {
  color: #888888;
}

.header .search button svg {
  height: 19px;
  opacity: 0.6;
}

.header .userOptions {
  width: 18%;
  height: 100%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.header .userOptions .notifications {
  position: relative;
}

.header .userOptions .notifications .notificationsDropDown {
  width: 478px;
  height: 623px;
  background-color: #202020;
  border: 1px solid #303030;
  border-top: none;
  cursor: pointer;
  position: absolute;
  right: 100%;
  top: 0;
}

.header .userOptions .gridBar {
  position: relative;
}

.header .userOptions .gridBar .gridDropDown {
  width: 300px;
  height: 242px;
  background-color: #202020;
  display: none;
  opacity: 0;
  border: 1px solid #303030;
  border-top: none;
  cursor: pointer;
  position: absolute;
  right: 50%;
}

.header .userOptions .gridBar .gridDropDown button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .userOptions .gridBar .gridDropDown button:first-child {
  margin-top: 10px;
  height: 50px;
  border-bottom: 1px solid #303030;
}

.header .userOptions .gridBar .gridDropDown button:nth-child(3) {
  height: 50px;
  border-bottom: 1px solid #303030;
}

.header .userOptions .gridBar .gridDropDown button:last-child {
  margin-bottom: 10px;
}

.header .userOptions .gridBar .gridDropDown button svg {
  margin: 0 20px;
}

.header .userOptions .gridBar .gridDropDown button:hover {
  background-color: #383838;
}

.header .userOptions .uploadOptions .uploadDropDownBar {
  width: 207px;
  height: 100px;
  background-color: #202020;
  display: none;
  opacity: 0;
  border: 1px solid #303030;
  border-top: none;
  cursor: pointer;
  position: absolute;
}

.header .userOptions .uploadOptions .uploadDropDownBar button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .userOptions .uploadOptions .uploadDropDownBar button:first-child {
  margin-top: 10px;
}

.header .userOptions .uploadOptions .uploadDropDownBar button:last-child {
  margin-bottom: 10px;
}

.header .userOptions .uploadOptions .uploadDropDownBar button svg {
  margin: 0 20px;
}

.header .userOptions .uploadOptions .uploadDropDownBar button:hover {
  background-color: #383838;
}

.header .userOptions svg {
  cursor: pointer;
}

.header .userOptions .profileImage {
  position: relative;
}

.header .userOptions .profileImage img {
  width: 32.5px;
  height: 32.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.header .userOptions .profileImage .dropdownProfileSettings {
  width: 300px;
  height: 660px;
  opacity: 0;
  display: none;
  background-color: #202020;
  border-right: 1px solid #303030;
  border-left: 1px solid #303030;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 180%;
  top: 5%;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings {
  height: 216px;
  border-bottom: 1px solid #303030;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings button:first-child {
  margin-top: 10px;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings button:last-child {
  margin-bottom: 10px;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings button svg {
  margin: 0 20px;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings button:hover {
  background-color: #383838;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings2 {
  height: 336px;
  border-bottom: 1px solid #303030;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings2 button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings2 button:first-child {
  margin-top: 10px;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings2 button:last-child {
  margin-bottom: 10px;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings2 button svg {
  margin: 0 20px;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings2 button:hover {
  background-color: #383838;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings3 {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileSettings3 p {
  margin: 0 20px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo .profileInfoInInfo {
  height: 100%;
  width: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo .profileInfoInInfo h3 {
  font-weight: 500;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo .profileInfoInInfo p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo .profileInfoInInfo a {
  font-weight: 400;
  text-decoration: none;
  color: #428dcf;
  font-size: 0.95rem;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo .profileImgInInfo {
  height: 100%;
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .userOptions .profileImage .dropdownProfileSettings .profileInfo .profileImgInInfo img {
  width: 42px;
  height: 42px;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.header .userOptions .profileImage .dropdownProfileSettings::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.header .userOptions .profileImage .dropdownProfileSettings ::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 0px;
}

.header .userOptions .profileImage .dropdownProfileSettings ::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

.header .userOptions .profileImage .dropdownProfileSettings ::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 10px;
}

.section {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .leftBar {
  height: 100%;
  width: 5.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202020;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.section .leftBar .hided {
  display: none;
}

.section .leftBar button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 76px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.section .leftBar button p {
  color: #909090;
  font-size: 10px;
  font-weight: 400;
}

.section .leftBar button:hover {
  background-color: #383838;
}

.section .videoSection {
  width: 94vw;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
}

.section .videoSection::-webkit-scrollbar {
  display: none;
}

.section .videoSection .video {
  width: 292px;
  height: 315px;
  margin: 0 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50% 15% 25%;
      grid-template-rows: 50% 15% 25%;
  gap: 0px 0px;
      grid-template-areas: "videoImg" "imgChannelAndVideoName" "videoInfo";
  cursor: pointer;
}

.section .videoSection .videoImg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: videoImg;
}

.section .videoSection .videoImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .videoSection .imgChannelAndVideoName {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imgChannelAndVideoName;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .videoSection .imgChannelAndVideoName .imgChannel {
  width: 13%;
  height: 100%;
}

.section .videoSection .imgChannelAndVideoName .imgChannel img {
  width: 37px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 38.5%;
  border-radius: 50%;
}

.section .videoSection .imgChannelAndVideoName .videoName {
  width: 87%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .videoSection .imgChannelAndVideoName .videoName h4 {
  font-weight: 500;
  color: white;
}

.section .videoSection .videoInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: videoInfo;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .videoSection .videoInfo .boxVideoInfo {
  width: 81%;
  height: 100%;
  margin-left: 19%;
}

.section .videoSection .videoInfo .boxVideoInfo p {
  font-weight: 400;
  color: white;
  font-size: 14px;
  color: #aaaaaa;
}

.section .videoSection .videoInfo .boxVideoInfo p:nth-child(1):hover {
  color: white;
}
/*# sourceMappingURL=file.css.map */