@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #181818;

    overflow-x: hidden;
}

.header {
    height: 9vh;
    width: 100%;
    background-color: #252525;

    display: flex;
    justify-content: space-between;

    .logoAndMenu {
        width: 17.6%;
        height: 100%;

        display: flex;
        align-items: center;

        background-color: #202020;

        svg {
            margin-left: 23px;
        }
    }
    .search {
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        input[type="text"] {
            width: 89%;
            height: 33px;
            padding: 0 10px;
            color: white;
            border-radius: 2px 0 0 2px;
            border: 1px solid rgba(80, 80, 80, 0.3);
            background-color: #121212;
            font-size: 1rem;
            outline: none;

            &:focus {
                border: 1px solid #1c62b9;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
            }
        }

        button {
            width: 11%;
            height: 33px;

            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            border-radius: 0px 2px 2px 0;
            color: #888888;

            cursor: pointer;
            background-color: #3d3d3d;

            svg {
                height: 19px;
                opacity: 0.6;
            }
        }
    }

    .userOptions {
        width: 18%;
        height: 100%;
        padding-right: 20px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 32.5px;
            height: 32.5px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.section {
    width: 100vw;
    height: 100vh;

    background-color: #181818;

    display: flex;

    .leftBar {
        height: 100%;
        width: 5.3vw;

        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: #252525;

        button {
            display: block;
            width: 100%;
            height: 76px;

            background-color: transparent;
            outline: none;
            border: none;

            cursor: pointer;

            p {
                color: white;
                font-size: 10px;
                font-weight: 400;
            }

            &:hover {
                background-color: #383838;
            }
        }
    }

    .videoSection {
        width: 94vw;
        height: 100%;

        overflow: scroll;
        overflow-x: hidden;

        display: flex;
        justify-content: center;
        align-items: baseline;

        flex-wrap: wrap;
        padding: 12px;

        .video {
            width: 292px;
            height: 315px;

            // border: 1px solid white;
            margin: 8px 8px;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50% 25% 25%;
            gap: 0px 0px;
            grid-template-areas:
                "videoImg"
                "imgChannelAndVideoName"
                "videoInfo";
        }

        .videoImg {
            grid-area: videoImg;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .imgChannelAndVideoName {
            grid-area: imgChannelAndVideoName;

            display: flex;

            .imgChannel {
                width: 25%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .videoName {
                width: 75%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    font-weight: 500;
                    color: white;
                }
            }
        }

        .videoInfo {
            grid-area: videoInfo;
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .boxVideoInfo {
                width: 75%;
                height: 100%;
                margin-left: 25%;

                p {
                    font-weight: 400;
                    color: white;
                    font-size: 14px;
                    color: #aaaaaa;
                }
            }
        }
    }
}
