@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  overflow-x: hidden;
}

.header {
  height: 9vh;
  width: 100%;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logoAndMenu {
  width: 17.6%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
}

.header .logoAndMenu svg {
  margin-left: 23px;
}

.header .search {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search input[type="text"] {
  width: 89%;
  height: 33px;
  padding: 0 10px;
  color: white;
  border-radius: 2px 0 0 2px;
  border: 1px solid rgba(80, 80, 80, 0.3);
  background-color: #121212;
  font-size: 1rem;
  outline: none;
}

.header .search input[type="text"]:focus {
  border: 1px solid #1c62b9;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

.header .search button {
  width: 11%;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0px 2px 2px 0;
  color: #888888;
  cursor: pointer;
  background-color: #3d3d3d;
}

.header .search button svg {
  height: 19px;
  opacity: 0.6;
}

.header .userOptions {
  width: 18%;
  height: 100%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .userOptions img {
  width: 32.5px;
  height: 32.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .leftBar {
  height: 100%;
  width: 5.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.section .leftBar button {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 76px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.section .leftBar button p {
  color: #909090;
  font-size: 10px;
  font-weight: 400;
}

.section .leftBar button:hover {
  background-color: #383838;
}

.section .videoSection {
  width: 94vw;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
}

.section .videoSection .video {
  width: 292px;
  height: 315px;
  margin: 0 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50% 15% 25%;
      grid-template-rows: 50% 15% 25%;
  gap: 0px 0px;
      grid-template-areas: "videoImg" "imgChannelAndVideoName" "videoInfo";
  cursor: pointer;
}

.section .videoSection .videoImg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: videoImg;
}

.section .videoSection .videoImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .videoSection .imgChannelAndVideoName {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imgChannelAndVideoName;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .videoSection .imgChannelAndVideoName .imgChannel {
  width: 13%;
  height: 100%;
}

.section .videoSection .imgChannelAndVideoName .imgChannel img {
  width: 37px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 38.5%;
  border-radius: 50%;
}

.section .videoSection .imgChannelAndVideoName .videoName {
  width: 87%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .videoSection .imgChannelAndVideoName .videoName h4 {
  font-weight: 500;
  color: white;
}

.section .videoSection .videoInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: videoInfo;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .videoSection .videoInfo .boxVideoInfo {
  width: 81%;
  height: 100%;
  margin-left: 19%;
}

.section .videoSection .videoInfo .boxVideoInfo p {
  font-weight: 400;
  color: white;
  font-size: 14px;
  color: #aaaaaa;
}

.section .videoSection .videoInfo .boxVideoInfo p:nth-child(1):hover {
  color: white;
}
/*# sourceMappingURL=file.css.map */